@-webkit-keyframes ps-ink-ripple {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
    }
}
@-moz-keyframes ps-ink-ripple {
    100% {
        opacity: 0;
        -moz-transform: scale(2.5);
    }
}
@-o-keyframes ps-ink-ripple {
    100% {
        opacity: 0;
        -o-transform: scale(2.5);
    }
}
@keyframes ps-ink-ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}

.ps-ink {
    display: block;
    position: absolute;
    border-radius: 100%;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);

    &.ps-ink-animate {
        -webkit-animation: ps-ink-ripple linear;
        -moz-animation: ps-ink-ripple linear;
        -o-animation: ps-ink-ripple linear;
        animation: ps-ink-ripple linear;
    }
}
